<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- Always include this permission -->
    <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.KtMapSample"
            tools:targetApi="31">
        <activity
                android:name=".example.control.CurrentLocationActivity"
                android:description="@string/current_location_description"
                android:label="@string/current_location_activity_label"
                android:exported="false">
            <meta-data android:name="@string/activity_need_permission"
                       android:value="true"/>
        </activity>
        <activity
                android:name=".example.control.ScaleBarActivity"
                android:description="@string/scale_bar_activity_description"
                android:label="@string/scale_bar_activity_label"
                android:exported="false"/>
        <activity
                android:name=".example.control.LogoActivity"
                android:description="@string/logo_activity_description"
                android:label="@string/logo_activity_label"
                android:exported="false"/>
        <activity
                android:name=".example.base.NormalMapActivity"
                android:description="@string/normal_map_activity_description"
                android:exported="false"
                android:label="@string/normal_map_activity_label"/>
        <activity
                android:name=".example.base.SatelliteMapActivity"
                android:description="@string/satellite_map_activity_description"
                android:exported="false"
                android:label="@string/satellite_map_activity_label"/>
        <activity
            android:name=".example.base.MapTypeActivity"
            android:description="@string/maptype_activity_description"
            android:exported="false"
            android:label="@string/maptype_activity_label"/>
        <activity
                android:name=".example.base.MapFragmentActivity"
                android:description="@string/fragment_activity_description"
                android:exported="false"
                android:label="@string/fragment_activity_label"/>
        <activity
                android:name=".example.interaction.MinMaxZoomActivity"
                android:description="@string/min_max_zoom_activity_description"
                android:exported="false"
                android:label="@string/min_max_zoom_activity_label"/>
        <activity
                android:name=".example.interaction.MaxPitchActivity"
                android:description="@string/max_pitch_activity_description"
                android:exported="false"
                android:label="@string/max_pitch_activity_label"/>
        <activity
                android:name=".example.interaction.MapExtentActivity"
                android:description="@string/map_extent_label"
                android:exported="false"
                android:label="@string/map_extent_label"/>
        <activity
                android:name=".example.interaction.DoubleTapZoomHandlerActivity"
                android:description="@string/double_tap_zoom_handler_description"
                android:exported="false"
                android:label="@string/double_tap_zoom_handler_label"/>
        <activity
                android:name=".example.interaction.ToggleGestureSettingsActivity"
                android:description="@string/toggle_gesture_settings_activity_description"
                android:exported="false"
                android:label="@string/toggle_gesture_settings_activity_label"/>
        <activity
                android:name=".example.interaction.AllGestureHandlerActivity"
                android:description="@string/gesture_interactive_description"
                android:exported="false"
                android:label="@string/gesture_interactive_label"/>
        <activity
                android:name=".example.camera.RandomCameraActivity"
                android:description="@string/random_cameara_description"
                android:exported="false"
                android:label="@string/basic_camera__activity_label"/>
        <activity
            android:name=".example.camera.MoveCameraActivity"
            android:description="@string/animated_camera_activity_description"
            android:exported="false"
            android:label="@string/animated_camera_activity_label" />
        <activity
            android:name=".example.camera.FitBoundsCameraActivity"
            android:description="@string/camera_fitbounds_activity_description"
            android:exported="false"
            android:label="@string/camera_fitbounds_activity_label" />
        <activity
                android:name=".example.camera.GestureCameraActivity"
                android:description="@string/gesture_camera_description"
                android:exported="false"
                android:label="@string/gesture_camera_activity_label"/>
        <activity
                android:name=".example.control.ZoomControlsActivity"
                android:description="@string/zoom_controls_activity_description"
                android:exported="false"
                android:label="@string/zoom_controls_activity_label"/>
        <activity
                android:name=".example.control.PanControlsActivity"
                android:description="@string/pan_controls_activity_description"
                android:exported="false"
                android:label="@string/pan_controls_activity_label"/>
        <activity
                android:name=".example.control.CompassActivity"
                android:description="@string/compass_activity_description"
                android:exported="false"
                android:label="@string/compass_activity_label"/>
        <activity
                android:name=".example.overlay.MarkerActivity"
                android:description="@string/marker_activity_description"
                android:exported="false"
                android:label="@string/marker_activity_label"/>

        <activity
                android:name=".example.overlay.AddMarkerActivity"
                android:description="@string/add_marker_activity_description"
                android:exported="false"
                android:label="@string/add_marker_activity_label"/>

        <activity
                android:name=".example.overlay.InfoWindowActivity"
                android:description="@string/infowindow_activity_description"
                android:exported="false"
                android:label="@string/infowindow_activity_label"/>
        <activity
                android:name=".example.overlay.CustomInfoWindowActivity"
                android:description="@string/custom_infowindow_activity_description"
                android:exported="false"
                android:label="@string/custom_infowindow_activity_label"/>
        <activity
                android:name=".example.overlay.PolygonOverlayActivity"
                android:description="@string/polygon_activity_description"
                android:exported="false"
                android:label="@string/polygon_activity_label"/>
        <activity
                android:name=".example.overlay.PolylineOverlayActivity"
                android:description="@string/polyline_activity_description"
                android:exported="false"
                android:label="@string/polyline_activity_label"/>
        <activity
                android:name=".example.overlay.PathActivity"
                android:description="@string/path_activity_description"
                android:exported="false"
                android:label="@string/path_activity_label"/>
        <activity
                android:name=".example.events.MapTapEventActivity"
                android:description="@string/map_tap_event_activity_description"
                android:exported="false"
                android:label="@string/map_tap_event_activity_label"/>
        <activity
                android:name=".example.events.ZoomGestureEventActivity"
                android:description="@string/zoom_gesture_event_activity_description"
                android:exported="false"
                android:label="@string/zoom_gesture_event_activity_label"/>
        <activity
                android:name=".example.events.AllGestureEventActivity"
                android:description="@string/all_gesture_event_activity_description"
                android:exported="false"
                android:label="@string/all_gesture_event_activity_label"/>
        <activity
                android:name=".example.events.OverlayEventActivity"
                android:description="@string/overlay_event_activity_description"
                android:exported="false"
                android:label="@string/overlay_event_activity_label"/>
        <activity
                android:name=".example.layer.BackgroundLayerActivity"
                android:description="@string/background_layer_activity_description"
                android:exported="false"
                android:label="@string/background_layer_activity_label"/>
        <activity
                android:name=".example.layer.FillLayerActivity"
                android:description="@string/fill_layer_activity_description"
                android:exported="false"
                android:label="@string/fill_layer_activity_label"/>
        <activity
                android:name=".example.layer.FillLayerRemoteActivity"
                android:description="@string/fill_layer_remote_activity_description"
                android:exported="false"
                android:label="@string/fill_layer_remote_activity_label"/>
        <activity
                android:name=".example.layer.LineLayerVectorSourceActivity"
                android:description="@string/line_layer_remote_activity_description"
                android:exported="false"
                android:label="@string/line_layer_remote_activity_label"/>
        <activity
                android:name=".example.layer.RasterLayerActivity"
                android:description="@string/raster_layer_activity_description"
                android:exported="false"
                android:label="@string/raster_layer_activity_label"/>
        <activity
                android:name=".example.layer.SymbolLayerActivity"
                android:description="@string/symbol_layer_activity_description"
                android:exported="false"
                android:label="@string/symbol_layer_activity_label"/>
        <activity
                android:name=".example.animations.AnimateMapCameraActivity"
                android:description="@string/symbol_animate_activity_description"
                android:exported="false"
                android:label="@string/symbol_animate_activity_label"/>

        <activity
                android:name=".example.animations.AnimateMarkerActivity"
                android:description="@string/marker_animate_activity_description"
                android:exported="false"
                android:label="@string/marker_animate_activity_label"/>
        <activity
            android:name=".example.animations.CameraAnimatorActivity"
            android:description="@string/camera_animator_activity_description"
            android:exported="false"
            android:label="@string/camera_animator_activity_label" />
        <activity
                android:name=".example.animations.AnimateLineActivity"
                android:description="@string/line_animate_activity_description"
                android:exported="false"
                android:label="@string/line_animate_activity_label" />
        <activity
            android:name=".example.style.QueryRenderedFeaturesActivity"
            android:description="@string/query_features_activity_description"
            android:exported="false"
            android:label="@string/query_features_activity_label" />
        <activity
            android:name=".example.style.PatternFillLayerActivity"
            android:description="@string/pattern_filllayer_activity_description"
            android:exported="false"
            android:label="@string/pattern_filllayer_activity_label" />
        <activity
            android:name=".example.style.BuildingActivity"
            android:description="@string/building_activity_description"
            android:exported="false"
            android:label="@string/building_activity_label" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KtMapSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>